{% extends 'base.html.twig' %}

{% set title_image = "banniereNotice.jpg" %}
{% set title = "Mentions légales" %}
{% set active = "mentions" %}

{% block body %}
    <section id="mentions" class="cd-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul>
                    <li><h2>Le site liondor-lagorce.fr est la propriété de</h2></li>
                    <li>xxx</li>
                    <li>Adresse France</li>
                    <li>N° SIRET : xxxxxxxxxxxxx</li>
                    <li>Tel/Fax : xxxxxx</li>
                    <li>E-mail : xxxxxx</li>
                </ul>

                <ul>
                    <li><h2>Directeur de la publication</h2></li>
                    <li>Jean-Pierre Ozil</li>
                </ul>

                <ul>
                    <li><h2>Conception, réalisation et maintenance</h2></li>
                    <li>Yves Maurin et Vincent Bernière</li>
                    <li>73 rue Docteur-Apvrille, 76300 Sotteville-lès-Rouen</li>
                    <li>tél +33 (0)6 89 90 34 23</li>
                    <li>yves.maurin[AROBASE]openmailbox.org</li>
                    <li>Toutes les photos sont la propriété de Jean-Pierre Ozil.
                        Aucune reproduction n'est permise sans le consentement écrit de l'auteur.
                    </li>
                </ul>
                <ul>
                    <li><h2>Hébergement</h2></li>
                    <li>O2switch</li>
                    <li>222 Boulevard Gustave Flaubert
                        63000 Clermont-Ferrand - France
                    </li>
                    <li>Tel +33(0)4 73 14 15 86</li>
                </ul>

                <ul>
                    <li><h2>Objet du site et conditions générales d'utilisation</h2></li>
                    <li>Le site « liondor-lagorce.fr » a pour objectif de décrire les conditions d’hébergement dans la
                        maison de vacance
                        le Lion d'or ainsi que quelques-unes des activités touristiques possibles au départ de la
                        maison.
                    </li>
                    <li>Cet objectif ne constitue cependant pas un engagement vis-à-vis des utilisateurs. Les
                        informations sont
                        fournies à titre indicatif et gracieux. Elles ne sont ni exhaustives ni immuables. Bien que le
                        webmestre
                        du site s’efforce de les maintenir à jour et exactes, ni lui ni le propriétaire ni le directeur
                        de
                        publication ne sauraient être tenus responsables d’omissions ou d’inexactitudes, qu’elles soient
                        de leur
                        fait ou de celui de tiers fournisseurs d’informations.
                    </li>
                    <li>Le site est normalement accessible à tout moment. Cependant les mises à jour ou la maintenance
                        technique
                        du site peuvent entraîner une interruption momentanée de service dont les utilisateurs seront,
                        dans la
                        mesure du possible, tenus informés à l’avance, et pour lesquelles le propriétaire, le directeur
                        de
                        publication ou le webmestre ne sauraient non plus être tenus pour responsables.
                    </li>
                    <li>Le site « liondor-lagorce.fr » fait notamment appel à la technologie javascript. Il est optimisé
                        pour
                        des navigateurs internet de dernière génération et à jour. Les propriétaire, directeur de
                        publication et
                        webmestre dégagent toute responsabilité pour d’éventuels dommages matériels ou logiciels
                        occasionnés par
                        la consultation du site à l’aide de matériels ou de logiciels anciens, non adaptés ou altérés
                        par des
                        virus, par exemple.
                    </li>
                    <li>Le site « liondor-lagorce.fr » contient des liens hypertextes vers d’autres sites,
                        principalement liés
                        au tourisme. Le contenu de ces sites n’étant pas de leur
                        responsabilité, les propriétaire, directeur de publication et webmestre de « liondor-lagorce.fr
                        »
                        dégagent toute responsabilité quant à l’utilisaton de ces sites tiers.
                    </li>
                    <li>L’utilisation du site « liondor-lagorce.fr » implique l’acceptation de ces conditions
                        d’utilisation,
                        susceptibles par ailleurs d’être modifiées sans préavis. Les utilisateurs sont invités à se
                        référer
                        périodiquement aux présentes informations légales.
                    </li>
                </ul>

                <ul>
                    <li><h2>Propriété intellectuelle et contrefaçon</h2></li>
                    <li>La SARL XXXXX est propriétaire des droits de propriété intellectuelle et détient les droits
                        d’usage sur
                        tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo,
                        icônes.
                    </li>
                    <li>À l’exception des ressources logicielles du domaine public (open source, logiciel libre)
                        utilisées pour
                        le fonctionnement du site, toute reproduction, représentation, modification, publication,
                        adaptation de
                        tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est
                        interdite, sauf
                        autorisation écrite préalable du propriétaire du site.
                    </li>
                    <li>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qui le constituent
                        sera
                        considérée comme une contrefaçon susceptible de poursuites, conformément aux articles L.335-2 et
                        suivants du Code de la Propriété Intellectuelle.
                    </li>

                    <ul>
                        <li><h2>Données personnelles</h2></li>
                        <li>Le site « liondor-lagorce.fr » ne recueillant, à la date de sa mise en service, aucune
                            donnée
                            personnelle sur ses utilisateurs, il n’est pas déclaré à la CNIL.
                        </li>
                    </ul>

            </div>
        </div>

    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}