{% extends 'base.html.twig' %}

{% set title_image = "banniereNotice.jpg" %}
{% set title = "Notice d'utilisation" %}
{% set active = "notice" %}

{% block body %}
    <section id="contact" class="cd-container">
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Lagorce vit au 21ème siècle : la maison reçoit la TNT en Haute Définition. Pour le téléphone, c’est
                    plus rustique : la réception d’appels au 04 75 37 16 81 est possible, mais pas l’émission.
                </p>
                <p>Mais vous pourrez toujours utiliser Skype ou WhatsApp puisqu’elle dispose d’un accès internet.
                </p>
                <p>Quant à la clim (puisqu’en Ardèche, il fait chaud en été), nous utilisons une méthode traditionnelle
                    éprouvée : portes et fenêtres sont ouvertes la nuit pour créer des courants d'air et pendant la
                    journée, les volets sont fermés.
                </p>
                <p>Dans la cour, vous trouverez sous l’auvent une table de ping-pong pour les sportifs et un barbecue
                    pour les affamés.
                </p>
                <p>Le jardin est équipé d’un système d'arrosage automatique "goutte à goutte" qui fonctionne deux fois
                    30 minutes par jour.
                </p>
                <p>Un « garage » peut accueillir une voiture. En général, il y a toujours des places de stationnement
                    dans la rue.
                </p>
                <p>Nous vous proposons à titre gracieux des vélos avec antivols. Vous en êtes responsables. Si
                    nécessaire vous trouverez un réparateur très efficace à l'entrée de Vallon Pont d'Arc (Édifice
                    NAUTILUS Vallon, près de la mairie). Ce commerçant loue aussi des vélos.
                </p>
                <p>À Vallon Pont d’Arc, vous trouverez également le Syndicat d’initiative (téléphone : 04 75 88 04 01 ou
                    04 75 88 41 09) et un marché tous les jeudis matins.
                </p>
                <p>Pour la baignade, nous vous conseillons la vallée de l’Ibie à environ 8km où des sources alimentent
                    un cours d’eau particulièrement agréable.
                </p>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}