/* -------------------------------- 

Primary style

-------------------------------- */
@font-face {
    font-family: "SansitaOne";
    src: url('../fonts/SansitaOneRegular.ttf');
}

@font-face {
    font-family: "LiberationSans";
    src: url('../fonts/LiberationSans-Regular.ttf');
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 100%;
    font-family: "LiberationSans";
    color: #030d18;
    background-color: #f6f6f6;
    min-height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
}

img.responsive {
    widht: 100%;
    height: auto;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #dce0e0;
}
input, textarea {
    margin-top: 15px;
}
input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
}
input[type="submit"] {
    display: block;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    text-align: center;
    color: #fff;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    padding: 2px 40px;
    border: none;
    line-height: 3em;
    background: #99cc33;
    -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
}
textarea {
    resize: none;
    display: block;
    width: 100%;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    min-height: 150px;
}

.justify {
    text-align: justify;
}

.fluid {
    margin-bottom: 100px;
}

.center {
    margin: 0 auto;
}

.button {
    margin-top: 30px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    padding: 0 20px 0 73px;
    border: none;
    line-height: 3em;
    color: rgba(255, 255, 255, 0.9);
    background: #99cc33;
    -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button-contact:before {
    ddisplay: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50px;
    height: 100%;
    position: absolute;
    content: "";
    cursor: pointer;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: url("../img/home/phone-contact.png"), rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 30px auto;
    background-size: 30px auto;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    max-width: 1168px;
    margin: 0 auto !important;
}

.cd-container:after {
    content: "";
    display: table;
    clear: both;
}

.has-top-margin {
    /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
}

@media only screen and (min-width: 1171px) {
    .has-top-margin {
        -webkit-animation: animate-margin-top 0.3s;
        -moz-animation: animate-margin-top 0.3s;
        animation: animate-margin-top 0.3s;
        margin-top: 70px;
    }
}

@-webkit-keyframes animate-margin-top {
    0% {
        margin-top: 100px;
    }

    100% {
        margin-top: 70px;
    }
}

@-moz-keyframes animate-margin-top {
    0% {
        margin-top: 100px;
    }

    100% {
        margin-top: 70px;
    }
}

@keyframes animate-margin-top {
    0% {
        margin-top: 100px;
    }

    100% {
        margin-top: 70px;
    }
}

/* --------------------------------

Navigation Mobile

-------------------------------- */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #99cc33;
    z-index: 3;
}

@media only screen and (min-width: 769px) {
    header {
        height: 70px;
        background-color: transparent;
        box-shadow: none;
    }
}

#cd-logo {
    float: left;
    margin: 13px 0 0 5%;
}

#cd-logo img {
    display: block;
}

#cd-logo h1 {
    font-family: SansitaOne;
    font-size: 1.8em;
}

@media only screen and (min-width: 769px) {
    #cd-logo {
        margin: 23px 0 0 5%;
    }
}

@media only screen and (min-width: 1171px) {
    #cd-logo.is-hidden {
        /* assign a position fixed and move outside the viewport (on the left) */
        opacity: 0;
        position: fixed;
        left: -20%;
        margin-left: 0;
        -webkit-transition: left 0.3s, opacity 0.3s;
        -moz-transition: left 0.3s, opacity 0.3s;
        transition: left 0.3s, opacity 0.3s;
    }

    #cd-logo.is-hidden.slide-in {
        /* slide in when the secondary navigation gets fixed */
        left: 5%;
        opacity: 1;
    }
}

.cd-primary-nav {
    /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
    position: relative;
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    background: url("../img/cd-icon-menu.svg") no-repeat center center;
    background-size: 44px 44px;
}

.cd-primary-nav:hover {
    cursor: pointer;
}

.cd-primary-nav ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-primary-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #336600;
    border-top: 1px solid #fff;
    color: #f0eee1;
    font-size: 1.2em;
}

.cd-primary-nav a:hover {
    background-color: #99cc33;
}

.cd-primary-nav li.active a {
    background-color: #99cc33;
}

/* --------------------------------

Intro Top

-------------------------------- */
#cd-intro {
    position: relative;
    height: 300px;
    background-size: cover;
    z-index: 2;
}

#cd-intro #cd-intro-tagline {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}

#cd-intro h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: SansitaOne;
}

@media only screen and (min-width: 769px) {
    #cd-intro {
        height: 400px;
    }

    #cd-intro #cd-intro-tagline {
        padding-top: 160px;
    }

    #cd-intro h1 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1171px) {
    #cd-intro {
        height: 600px;
    }

    #cd-intro #cd-intro-tagline {
        padding-top: 250px;
    }
}

.cd-btn {
    display: inline-block;
    padding: 1em 1.8em;
    background-color: rgba(245, 72, 74, 0.9);
    margin-top: 1em;
    border-radius: 20em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.no-touch .cd-btn:hover {
    background-color: #f5484a;
}

@media only screen and (min-width: 1171px) {
    header #cd-logo {
        display: none;
    }

    header nav {
        display: none;
    }

    .cd-btn.is-hidden {
        /* assign a position fixed and move outside the viewport (on the right) */
        opacity: 0;
        position: fixed;
        right: -20%;
        top: 0;
        padding: .8em 1.2em;
        margin: 14px 0 0;
        -webkit-transition: right 0.3s, opacity 0.3s;
        -moz-transition: right 0.3s, opacity 0.3s;
        transition: right 0.3s, opacity 0.3s;
    }

    .cd-btn.is-hidden.slide-in {
        /* slide in when the secondary nav gets fixed */
        right: 5%;
        opacity: 1;
    }
}

/* -------------------------------- 

Secondary Fixed Navigation

-------------------------------- */
.cd-secondary-nav {
    position: relative;
    z-index: 3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-bottom: 50px;
}

.cd-secondary-nav ul {
    /* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
    position: fixed;
    width: 90%;
    max-width: 400px;
    right: 5%;
    bottom: 20px;
    border-radius: 0.25em;
    background: #99cc33;
    visibility: hidden;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
}

.cd-secondary-nav ul.is-visible {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s;
}

.cd-secondary-nav li a {
    display: block;
    padding: 1.6em;
    border-bottom: 1px solid #092645;
    color: #fff;
}

.cd-secondary-nav li:hover a {
    color: #336600;
}

.cd-secondary-nav li.active a {
    color: #336600;
}

.cd-secondary-nav li:last-child a {
    border-bottom: none;
}

.cd-secondary-nav {
    z-index: 1;
    height: 70px;
    background-color: #99cc33;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.cd-secondary-nav nav, .cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
    height: 100%;
}

.cd-secondary-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
}

.cd-secondary-nav li {
    display: inline-block;
    margin-left: -4px;
    font-size: 1.5em;
    line-height: 70px;
}

.cd-secondary-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 0px 40px 0 40px;
    border-bottom: none;
}

.cd-secondary-nav li a b {
    text-transform: uppercase;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 700;
    color: rgba(240, 238, 225, 0.3);
}

.cd-secondary-nav li a:hover b, .cd-secondary-nav li a.active b {
    color: #f0eee1;
}

.cd-secondary-nav li:nth-child(1) a span {
    background-position: 0 0;
}

.cd-secondary-nav li:nth-child(2) a span {
    background-position: -40px 0;
}

.cd-secondary-nav li:nth-child(3) a span {
    background-position: -80px 0;
}

.cd-secondary-nav li:nth-child(4) a span {
    background-position: -120px 0;
}

.cd-secondary-nav li:nth-child(5) a span {
    background-position: -160px 0;
}

.cd-secondary-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
}

.cd-secondary-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.cd-secondary-nav.animate-children li a span {
    opacity: 0;
}

/* -------------------------------- 

Placeholder Sections

-------------------------------- */
section {
    margin: 0 auto;
    padding: 1em 0;
}

section h1 {
    font-size: 2em;
}

section h1.title {
    margin-bottom: 50px;
}

section h2 {
    font-size: 1.5em;
}

section h3 {
    font-size: 1.3em;
}

section p {
    line-height: 1.6;
}

@media only screen and (min-width: 1171px) {
    section {
        margin: 0 auto;
        padding: 1em 0;
    }

    section h2 {
        font-size: 30px;
        font-size: 1.875rem;
    }

    section p {
        font-size: 1em;
    }

    section a {
        font-size: 1em;
    }
}

/* ACCUEIL */
.home {
}

.title {
    font-family: SansitaOne, sans-serif;
    color: #336600;
}

.title h1 {
    font-size: 3em;
}

.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4 {
    padding-right: 0;
}

.legend {
    width: 100%;
    position: relative;
}

.legend h3 {
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: -40px;

    background-color: rgba(0, 0, 0, 0.5);
    padding: 9px;
}

.legend:hover {
    cursor: pointer;
}

.legend:hover h3 {
    background-color: #99cc33;
}

/* MAISON ET JARDIN */
section#jardin {
    padding-top: 120px;
}

.gallery {
    margin-top: 100px;
    margin-left:15px;
    margin-right:15px;
}

.gallery h2 {
    margin-bottom: 30px;
}

.gallery li {
    max-height: 219px;
    overflow: hidden;
    margin-bottom: 15px;
}

.gallery img {
    overflow: hidden;
}

/* LES ACTIVITES */
#mapid {
    height: 90vh;
    z-index:0;
    margin-bottom:-50px;
}
.markup-legend h2 {
    margin-bottom:10px;
}
.markup-legend a {
    color: #6b9311;
}

/* CONTACT */
#mapidContact {
    height: 60vh;
    z-index:0;
    margin-bottom:30px;
}
section ul li {
    line-height: 2em;
}
section h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}
form {
    margin-top: 30px;
}
.pagination-buttons {
    margin-top:30px;
    margin-bottom: 20px;
    text-align: center;
}
.pagination-buttons a {
    padding: 10px;
    border-radius: 4px;
    background-color: #99cc33;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #2196F3;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* FOOTER */
footer {
    margin-top: 50px;
    background-color: #000000;
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}
section#mentions ul {
    margin-bottom: 50px;
}

/* ADMIN */
div#piwik {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.button-piwik {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    padding: 0px 30px;
    border: none;
    line-height: 3em;
    color: rgba(255, 255, 255, 0.9);
    background: #d84840;
    -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button-logout {
    float: right;
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    line-height: 3em;
    color: rgba(255, 255, 255, 0.9);
    background: #CE272D;
    -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button-delete {
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    line-height: 3em;
    color: rgba(255, 255, 255, 0.9);
    background: #CE272D;
    -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button-edit {
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    line-height: 3em;
    color: rgba(255, 255, 255, 0.9);
    background: #99cc33;
    -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button-edit.private {
    background-color: #e67e22;
}

/* RESPONSIVE */
@media only screen and (max-width: 1170px) {
    header {
        display: none;
    }
    .cd-primary-nav {
        display: none;
    }

    .cd-secondary-nav li a {
        padding-left: 1em !important;
        padding-right: 1em !important;
        font-size: 0.8em;
    }

    .cd-container {
        padding-left:5px;
        padding-right: 5px;
    }

    p.justify {
        padding-right: 15px;
    }
}

/* MOBILE */
@media only screen and (max-width: 768px) {
    header {
        display: inherit;
        position: fixed;
    }

    .cd-primary-nav {
        display: inherit;
    }

    .cd-secondary-nav {
        display: none;
    }

    .legend h3 {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    img#img-jardin {
        max-height:500px;
        overflow: hidden;
    }

    section#maison {
        padding-top: 30px;
    }
    section#activite {
        padding-top: 30px;
    }
    section#contact {
        padding-top: 30px;
    }

    section#jardin {
        padding-top: 60px;
    }

    .fluid {
        margin-bottom:50px;
    }
}